body{
    margin: auto;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 0.8em;
    width: 300px;
    background-color: #F5F5F5;
}
input [type= 'submit']{

    width: 50px; height: 26px;
}
#search{
    width: 220px;
    border: 1px solid #aaa;
    padding: 2px 4px;
    }
#search:hover{
    border-color: #777777;
}
#result{
    border: 1px solid #aaa;
    width: 228px;
    text-align: left;
    border-top-width: 0;
}
#result:hover, .result:focus{

    width: 220px;
    height: 22px;
}
#result div:hover{
     background-color: #777777 !important;
}
